In [52]:
import pandas as pd 
import numpy as np 


import ipywidgets as widgets
from ipywidgets import interactive
#jupyter nbextension enable --py widgetsnbextension

In [53]:
data  = pd.read_csv("sample_data.csv")
data

,ID,Marital Status,Gender,Income,Children,Education,Occupation,Home Owner,Cars,Commute Distance,Region,Age,Age Brackets,Purchased Bike,RTE
0,12496,Married,Female,"$40,000",1,Bachelors,Skilled Manual,Yes,0,0-1 Miles,Europe,42,Middle Age,No,1
1,24107,Married,Male,"$30,000",3,Partial College,Clerical,Yes,1,0-1 Miles,Europe,43,Middle Age,No,0
2,14177,Married,Male,"$80,000",5,Partial College,Professional,No,2,2-5 Miles,Europe,60,Old,No,0
3,24381,Single,Male,"$70,000",0,Bachelors,Professional,Yes,1,5-10 Miles,Pacific,41,Middle Age,Yes,0
4,25597,Single,Male,"$30,000",0,Bachelors,Clerical,No,0,0-1 Miles,Europe,36,Middle Age,Yes,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,23731,Married,Male,"$60,000",2,High School,Professional,Yes,2,2-5 Miles,North America,54,Middle Age,Yes,0
996,28672,Single,Male,"$70,000",4,Graduate Degree,Professional,Yes,0,2-5 Miles,North America,35,Middle Age,Yes,0
997,11809,Married,Male,"$60,000",2,Bachelors,Skilled Manual,Yes,0,0-1 Miles,North America,38,Middle Age,Yes,0
998,19664,Single,Male,"$1,00,000",3,Bachelors,Management,No,3,1-2 Miles,North America,38,Middle Age,No,0
999,12121,Single,Male,"$60,000",3,High School,Professional,Yes,2,More than 10 Miles,North America,53,Middle Age,Yes,0

In [54]:
widgets.Checkbox(
    value=False,
    description='Check me',
    disabled=False,
    indent=False
)

Checkbox(value=False, description='Check me', indent=False)

In [55]:
widgets.Dropdown(
    options=['1', '2', '3'],
    value='2',
    description='Number:',
    disabled=False,
)

Dropdown(description='Number:', index=1, options=('1', '2', '3'), value='2')

In [56]:
def view2(x=''):
    global output_dataframe
    
    if x=='All':
        return data.head(10)
    output_dataframe = data[(data['Gender']==x)].head(10)
    return print(output_dataframe)
 
Gender = ['All','Male','Female']
a_slider = widgets.IntSlider(min=0, max=5, step=1, value=0)
b_select =  widgets.Select(options=Gender)
widgets.interactive(view2,x=b_select)

interactive(children=(Select(description='x', options=('All', 'Male', 'Female'), value='All'), Output()), _domâ€¦

In [57]:
output_dataframe

,ID,Marital Status,Gender,Income,Children,Education,Occupation,Home Owner,Cars,Commute Distance,Region,Age,Age Brackets,Purchased Bike,RTE
1,24107,Married,Male,"$30,000",3,Partial College,Clerical,Yes,1,0-1 Miles,Europe,43,Middle Age,No,0
2,14177,Married,Male,"$80,000",5,Partial College,Professional,No,2,2-5 Miles,Europe,60,Old,No,0
3,24381,Single,Male,"$70,000",0,Bachelors,Professional,Yes,1,5-10 Miles,Pacific,41,Middle Age,Yes,0
4,25597,Single,Male,"$30,000",0,Bachelors,Clerical,No,0,0-1 Miles,Europe,36,Middle Age,Yes,0
6,27974,Single,Male,"$1,60,000",2,High School,Management,Yes,4,0-1 Miles,Pacific,33,Middle Age,Yes,0
7,19364,Married,Male,"$40,000",1,Bachelors,Skilled Manual,Yes,0,0-1 Miles,Europe,43,Middle Age,Yes,0
8,22155,Married,Male,"$20,000",2,Partial High School,Clerical,Yes,2,5-10 Miles,Pacific,58,Old,No,0
9,19280,Married,Male,"$1,20,000",2,Partial College,Manual,Yes,1,0-1 Miles,Europe,40,Middle Age,Yes,0
12,11434,Married,Male,"$1,70,000",5,Partial College,Professional,Yes,0,0-1 Miles,Europe,55,Old,No,0
13,25323,Married,Male,"$40,000",2,Partial College,Clerical,Yes,1,1-2 Miles,Europe,35,Middle Age,Yes,0

In [48]:
import pandas as pd
import numpy as np
import ipywidgets as widgets
from ipywidgets import Layout, AppLayout
from IPython.display import display
import functools
 
data = {'year': ['2000', '2000','2000','2000','2001','2001','2001','2001', '2002',  '2002', '2002', '2002',
                 '2003','2003','2003','2003','2004', '2004','2004','2004', '2005', '2005', '2005', '2005', 
                 '2006', '2006', '2006', '2006', '2006', '2007', '2007', '2007', '2007', '2008', '2008', '2008', '2008',
                 '2009', '2009', '2009', '2009'],
        
        'purpose':['Holiday', 'Business', 'VFR', 'Study', 'Holiday', 'Business', 'VFR', 'Study', 'Holiday', 'Business',
                   'VFR', 'Study', 'Holiday', 'Business', 'VFR', 'Study', 'Holiday', 'Business', 'VFR', 'Study', 'Holiday',
                   'Business', 'VFR', 'Study', 'Holiday', 'Business', 'VFR', 'Study', 'Holiday', 'Business', 'VFR', 'Study',
                   'Holiday', 'Business', 'VFR', 'Study', 'Holiday', 'Business', 'VFR', 'Study', 'Holiday'
                  ], 
                'market':['Belgium', 'Luxembourg', 'France', 'Spain', 'Norway', 'Sweden', 'Germany', 'Austria', 'Denmark',
                  'Portugal', 'Greece', 'Croatia', 'Belgium', 'Luxembourg', 'France', 'Spain', 'Norway', 'Sweden',
                  'Germany', 'Austria', 'Denmark', 'Portugal', 'Greece', 'Croatia', 'Belgium', 'Luxembourg', 'France',
                  'Spain', 'Norway', 'Sweden', 'Germany', 'Austria', 'Denmark', 'Portugal', 'Greece', 'Croatia', 'Belgium',
                  'Luxembourg', 'France', 'Spain', 'Norway'
                 ]} 
 
df_london = pd.DataFrame (data, columns = ['year','purpose', 'market'])
 
output_dataframe = None

# Get our unique values
ALL = 'ALL'
def unique_sorted_values_plus_ALL(array):
    unique = array.unique().tolist()
    unique.sort()
    unique.insert(0, ALL)
    return unique

output = widgets.Output()

# Dropdown listbox
dropdown_year = widgets.Dropdown(description='Year',
                                  options = unique_sorted_values_plus_ALL(df_london.year))

        
        
# Function to filter our dropdown listboxe
def common_filtering(year):
    global output_dataframe
    df = df_london.copy()
        
    filters = []
    
    # Evaluate our dropdown listbox and return booleans for our selections
    if year is not ALL:
        filters.append(df['year'] == year)
    
    output.clear_output()
    
    with output:
        if filters:
            df_filter = functools.reduce(lambda x,y: x&y, filters)
            output_dataframe = df.loc[df_filter]
        else:
            output_dataframe = df
        display(output_dataframe)

def dropdown_year_eventhandler(change):
    common_filtering(change.new)

dropdown_year.observe(dropdown_year_eventhandler, names='value')

ui = widgets.HBox([dropdown_year])

display(ui, output)

HBox(children=(Dropdown(description='Year', options=('ALL', '2000', '2001', '2002', '2003', '2004', '2005', '2â€¦

Output()

In [58]:
import pandas as pd
import ipywidgets as widgets
from IPython.display import display

# Example dataset
data = pd.DataFrame({
    'Name': ['John', 'Emily', 'Michael', 'Jessica', 'David'],
    'Age': [25, 30, 28, 32, 27],
    'Score': [85, 92, 88, 90, 87]
})

# Create the integer slider widget
age_slider = widgets.IntSlider(
    value=25,
    min=0,
    max=100,
    step=1,
    description='Age:'
)

score_slider = widgets.IntSlider(
    value=0,
    min=0,
    max=100,
    step=1,
    description='Score:'
)

# Create the toggle button for filtering condition
condition_toggle = widgets.ToggleButtons(
    options=['AND', 'OR'],
    description='Condition:'
)

# Define the filtering function
def filter_dataset(age, score, condition):
    if condition == 'AND':
        filtered_data = data[(data['Age'] >= age) & (data['Score'] >= score)]
    else:
        filtered_data = data[(data['Age'] >= age) | (data['Score'] >= score)]
    return filtered_data

# Create a button widget
button = widgets.Button(description='Filter')

# Define the button click event
def on_button_click(b):
    age = age_slider.value
    score = score_slider.value
    condition = condition_toggle.value
    filtered_data = filter_dataset(age, score, condition)
    print(filtered_data)  # Access the filtered dataset here

# Attach the button click event
button.on_click(on_button_click)

# Display the widgets
display(widgets.VBox([age_slider, score_slider, condition_toggle, button]))

VBox(children=(IntSlider(value=25, description='Age:'), IntSlider(value=0, description='Score:'), ToggleButtonâ€¦

In [59]:
import pandas as pd
import ipywidgets as widgets
from IPython.display import display

# Example dataset
data = pd.DataFrame({
    'Name': ['John', 'Emily', 'Michael', 'Jessica', 'David'],
    'Age': [25, 30, 28, 32, 27],
    'Score': [85, 92, 88, 90, 87],
    'City': ['New York', 'London', 'Paris', 'New York', 'Tokyo']
})

# Create the integer slider widgets
age_slider = widgets.IntSlider(
    value=25,
    min=0,
    max=100,
    step=1,
    description='Age:'
)

score_slider = widgets.IntSlider(
    value=0,
    min=0,
    max=100,
    step=1,
    description='Score:'
)

# Create the text input widget for City filtering
city_text = widgets.Text(
    placeholder='Enter city...',
    description='City:'
)

# Create the toggle buttons for logical conditions
condition_toggle_1 = widgets.ToggleButtons(
    options=['AND', 'OR'],
    description='Condition 1:'
)

condition_toggle_2 = widgets.ToggleButtons(
    options=['AND', 'OR'],
    description='Condition 2:'
)

# Define the filtering function
def filter_dataset(age, score, city, condition_1, condition_2):
    if condition_1 == 'AND':
        filter_1 = (data['Age'] >= age) & (data['Score'] >= score)
    else:
        filter_1 = (data['Age'] >= age) | (data['Score'] >= score)
    
    if condition_2 == 'AND':
        filter_2 = data['City'].str.contains(city, case=False)
    else:
        filter_2 = ~data['City'].str.contains(city, case=False)
    
    filtered_data = data[filter_1 & filter_2]
    return filtered_data

# Create the button widget
button = widgets.Button(description='Filter')

# Define the button click event
def on_button_click(b):
    age = age_slider.value
    score = score_slider.value
    city = city_text.value
    condition_1 = condition_toggle_1.value
    condition_2 = condition_toggle_2.value
    filtered_data = filter_dataset(age, score, city, condition_1, condition_2)
    print(filtered_data)  # Access the filtered dataset here

# Attach the button click event
button.on_click(on_button_click)

# Display the widgets
display(widgets.VBox([age_slider, score_slider, condition_toggle_1, city_text, condition_toggle_2, button]))

VBox(children=(IntSlider(value=25, description='Age:'), IntSlider(value=0, description='Score:'), ToggleButtonâ€¦

Empty DataFrame
Columns: [Name, Age, Score, City]
Index: []
    Name  Age  Score    City
1  Emily   30     92  London
    Name  Age  Score    City
1  Emily   30     92  London
    Name  Age  Score    City
1  Emily   30     92  London
    Name  Age  Score    City
1  Emily   30     92  London